<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Point vers votre serveur Express -->
      <add name="iisnode" path="server/server.mjs" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Rediriger toutes les requêtes vers votre serveur -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server/server.mjs"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node"
      interceptConsoleOutput="true"
      loggingEnabled="true"
      logDirectory="../LogFiles/nodejs"
    />
  </system.webServer>
</configuration>